body {
    background-color: #393E46; 
    /* color: #EEEEEE; */
    font-family: 'Courier New', Courier, monospace;
}

a:active{
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 600px 600px 600px auto;
    grid-template-rows: 300px 40px 450px 450px 40px;
    background-color: #393E46;
    margin: -10px;
}

.grid-project-container {
    display: grid;
    grid-template-columns: auto 600px 600px 600px auto;
    grid-template-rows: 300px 40px 450px 450px 450px 450px 450px 450px 40px;
    background-color: #393E46;
    margin: -10px;
}

.grid-item {
    text-align: center;
    font-size: 30px;
}

.header {
    grid-column: 1 / span 5;
    grid-row: 1;
    background-color: #212429;
}

.header-banner {
    background-color: #212429;
    color: #AAD8D3;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 48px;
}

.nav-banner {
    background-color: #AAD8D3;
    border: none;
    transition-duration: .3s;
    /* padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -75px;
    margin-right: -75px;
    margin-top: -75px; */
}

.nav-button:hover {
    background-color: #00ADB5;
    cursor:pointer
}

.nav-text {
    color: #393E46;
    font-size: 30px;
    font-weight: bold;
}

.project {
    background-color: #00ADB5;
    border-radius: 25px;
    height: 325px;
    width: 550px;
    margin-top: 25px;
    padding: 5px;
    box-shadow: 10px 10px 5px #212429;
}

.project-image {
    object-fit: cover;
}

.profile-image-grid {
    grid-column: 2;
    grid-row: 3 / 5;
}

.profile-image {
    background-color: #00ADB5;
    border-radius: 25px;
    width: 500px;
    height: 900px;
    margin-top: 25px;
    padding: 5px;
    box-shadow: 10px 10px 5px #212429
}

.logo-main {
    width: 200px;
    height: auto;
}

.logo-visit:visited {
    text-decoration: none;
}

.image {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.about-section {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.about-text {
    padding: 50px;
    margin: 22px;
}
.text-block {
    display: grid;
    place-content: center;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-size: 30px;
    border-radius: 25px;
    margin: 18px;
    box-shadow: 10px 10px 5px #212429;
}

.contact-form {
    font-size: 24px;
}

.project-one-grid{
    grid-column: 3 / 5;
    grid-row: 3;
}
.project-two-grid{
    grid-column: 2 / 4;
    grid-row: 4;
}
.project-three-grid{
    grid-column: 3 / 5;
    grid-row: 5;
}
.project-four-grid{
    grid-column: 2 / 4;
    grid-row: 6;
}
.project-five-grid{
    grid-column: 3 / 5;
    grid-row: 7;
}
.project-six-grid{
    grid-column: 2 / 4;
    grid-row: 8;
}